<div class="container ">
    <div class="row  mt-5 m-4">
        
        <h3 class="m-4">Crear Curso</h3>
        <div *ngIf="fomularioCompletado">
            <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
                <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
                  <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                </symbol>
                <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
                  <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
                </symbol>
                <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
                  <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                </symbol>
            </svg>
            <div class="alert alert-success d-flex align-items-center" role="alert">
                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
                <div>
                  Curso Agregado Exitosamente!
                </div>
            </div>
        </div>

        <form *ngIf="!fomularioCompletado" [formGroup]="formulario" (ngSubmit)="validar()" novalidate>
            <div class="m-3 col-sm-12 col-lg-6">
                <label for="nombre" class="form-label">Nombre</label>
                <input type="text" class="form-control" id="nombre"
                formControlName="nombre">
                <div *ngIf="formulario.controls['nombre'].invalid && (formulario.controls['nombre'].touched || formulario.controls['nombre'].dirty)" 
                    class="alert alert-danger">
                    <div *ngIf="formulario.controls['nombre'].hasError('required')">Campo es obligatorio</div>
                </div>
            </div>
            <hr>
            <div class="row my-4">
                <div class="col-6">
                    <a (click)="addNota()" class="border m-5 p-2 text-decoration-none">Agregar Nota</a>
                </div>
            </div>
            <div class="row shadow p-1 border rounded">
                <div *ngFor="let cardNota of listaNotas">
                    <div class="border p-2 rounded my-2">
                        <div class="row">
                            <div class="col-sm-12 col-lg-6">
                                <label class="form-label">Nota</label>
                                <input [ngModelOptions]="{standalone: true}"
                                type="text" class="form-control" [(ngModel)]="cardNota.nota">
                            </div>
                            <div class="col-sm-12 col-lg-6">
                                <label class="form-label">Porcentaje</label>
                                <input [ngModelOptions]="{standalone: true}" 
                                type="text" class="form-control" [(ngModel)]="cardNota.porcentaje">
                            </div>
                        </div>
                        <div class="row">
                            <div class="text-center my-2">
                                <button (click)="eliminarNota(cardNota._id)" class="col-8 text-center">Eliminar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row m-5">
                <button [disabled]="!formulario.valid" type="submit" class="btn btn-primary col-5">Crear</button>
                <button type="reset" class="btn btn-secondary col-5 offset-1">Cancelar</button>
            </div>
        </form>
    </div>
</div>